.template-plan {
    display: flex;
    min-height: calc(100vh - 200px);
    margin: 30px;
    &-info {
        @extend .build-info;
    }
    .template-plan-info {
        margin: 0px 20px 0px 0px;
        border-radius: 25px;
        width: 100%;
    }
}



.build {
    fill: transparent;
    cursor: pointer;
    stroke: transparent;
    fill-opacity: 0.5;
    transition: .3s;
}

.floor {
    fill: #df249714;
    &:hover {
        fill: rgba(61, 253, 3, 0.614);
        stroke: #120d0eef;
        stroke-width: 1px;
    }
}





.build-info,
.flats-info {
    width: 650px;
    padding: 60px;
    border-radius: 25px;

    &__title {
        margin-bottom: 24px;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;
    }

    h4 {
        display: flex;
        margin-bottom: 12px;
        padding: 13px 12px;
        font-weight: 400;

        span {
            display: inline-block;
            margin-left: 18px;
            font-weight: 700;
            color: #469473;
        }
    }
    &__descriptions {
        padding: 23px 22px;
        border-radius: 10px;
        font-weight: 600;
        min-height: 290px;
    }

}