.template-plan {
    display: flex;
    min-height: calc(100vh - 200px);
    margin: 30px;
    &-info {
        @extend .build-info;
    }
    .template-plan-info {
       margin: 0px 20px 0px 0px;
       border-radius: 25px;
       
    }
} 












.build {
    fill: transparent;
    cursor: pointer;
    stroke: transparent;
    fill-opacity: 0.5;
    transition: .3s;
}



.build-1 {
    &:hover {
        fill: #37c720;
        stroke: #154a04;
        stroke-width: 3px;
    }
}

.build-2 {
    &:hover {
        fill: #a84cb6;
        stroke: #390139;
        stroke-width: 2px;
    }
}

.build-3 {
    &:hover {
        fill: #bcdd1c;
        stroke: #bdff07;
        stroke-width: 2px;
    }
}

    


.build-info,
.flats-info {
    width: 650px;
    margin: 18px;
    border-radius: 25px;

    &__title {
        margin-bottom: 24px;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;
    }

    h4 {
        display: flex;
        margin-bottom: 12px;
        padding: 13px 12px;
        font-weight: 400;

        span {
            display: inline-block;
            margin-left: 18px;
            font-weight: 700;
            color: #469473;
        }
    }
    &__descriptions {
        padding: 23px 22px;
        border-radius: 10px;
        font-weight: 600;
        min-height: 290px;
    }

}
.sold {
    &:hover {
        path {
            cursor: not-allowed;
        }
    }
}


img {
    max-width: 100%;
    
}


