
    <section class="template-plan">
        <div class="template-plan-info outset-neomo">

            <svg viewBox="0 0 800 534" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              
                <image xlink:href="assets/img/build-1.png"></image>/>



                <a href="floor-plan.html" class="build-link">
                    <path id="floor-1"  class="floor" data-floor-item="1" data-flats-all="1" data-flats-free="10" data-flats-action="0" data-flats-booking="0" data-flats-sold="1" d="M413 215L632 185.5V215L413 238.5V215Z" stroke="black"/>  
                </a> 
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-2"  class="floor" data-floor-item="2" data-flats-all="0" data-flats-free="0" data-flats-action="0" data-flats-booking="0" data-flats-sold="3" d="M414.5 192L632 157.5V184L414.5 212.5V192Z" stroke="black"/>
                </a> 
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-3"  class="floor" data-floor-item="3" data-flats-all="10" data-flats-free="6" data-flats-action="0" data-flats-booking="1" data-flats-sold="2" d="M392 159L613.5 117.5V141L392 180V159Z" stroke="black"/>
                </a> 
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-4"  class="floor" data-floor-item="4" data-flats-all="8" data-flats-free="10" data-flats-action="2" data-flats-booking="0" data-flats-sold="0" d="M392.5 125.5L614 77.5V111L392.5 154V125.5Z" stroke="black"/>
                </a> 
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-5"  class="floor" data-floor-item="5" data-flats-all="6" data-flats-free="10" data-flats-action="0" data-flats-booking="0" data-flats-sold="0" d="M612.5 37L393.5 91.5V121L612.5 71V37Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-6"  class="floor" data-floor-item="6" data-flats-all="5" data-flats-free="10" data-flats-action="1" data-flats-booking="0" data-flats-sold="0" d="M413 424.5V404H632V430L413 424.5Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-6"  class="floor" data-floor-item="6" data-flats-all="5" data-flats-free="10" data-flats-action="1" data-flats-booking="0" data-flats-sold="0" d="M413 424.5V404H632V430L413 424.5Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-7"  class="floor" data-floor-item="7" data-flats-all="4" data-flats-free="10" data-flats-action="0" data-flats-booking="0" data-flats-sold="0" d="M393.5 318V293.5L612.5 276V302.5L393.5 318Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-8"  class="floor" data-floor-item="8" data-flats-all="0" data-flats-free="5" data-flats-action="0" data-flats-booking="1" data-flats-sold="0" d="M394 268.5L614 247.5V272.5L394 289.5V268.5Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-9"  class="floor" data-floor-item="9" data-flats-all="1" data-flats-free="10" data-flats-action="0" data-flats-booking="2" data-flats-sold="1" d="M414.5 240L632 215.5V241.5H625.5L621.5 235L414.5 256.5V240Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-10" class="floor" data-floor-item="10" data-flats-all="2" data-flats-free="10" data-flats-action="0" data-flats-booking="0" data-flats-sold="2" d="M393.5 341V323L612.5 307.5V332.5L393.5 341Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-11" class="floor" data-floor-item="11" data-flats-all="0" data-flats-free="2" data-flats-action="2" data-flats-booking="1" data-flats-sold="1" d="M413 371V352L630.5 345.5V366.5L413 371Z" stroke="black"/>
                </a>
                <a href="floor-plan.html" class="build-link">
                    <path id="floor-12" class="floor" data-floor-item="12" data-flats-all="0" data-flats-free="1" data-flats-action="1" data-flats-booking="1" data-flats-sold="1" d="M413 401V375L630.5 371L631 401H413Z" stroke="black"/>
                </a>
            </svg>
        </div>

         
        <div class="inset-neomo build-info">
            <h2 class="build-info__title">Информация о доме</h2>
            <h4 class="build-info__number inset-neomo">Адрес <span id="build-value"> Глушкова 43</span></h4>
            <h4 class="build-info__stages inset-neomo">Номер этажа <span id="floor-item">12</span></h4>
            <h4 class="build-info__flat inset-neomo">Всего квартир <span id="flats-all">100</span></h4>
            <h4 class="build-info__number inset-neomo">Свободный квартир <span id="flats-free">80</span></h4>
            <h4 class="build-info__number inset-neomo">Забронированых квартир <span id="flats-action">6</span></h4>
            <h4 class="build-info__number inset-neomo">Акционных квартир <span id="flats-booking">5</span></h4>
            <h4 class="build-info__number inset-neomo">Проданных квартир<span id="flats-sold">14</span></h4>
            
        </div>
         </section>   



