<main class="wrapper home">
    <section class="genplan">
        <div class="genplan-info outset-neomo">
          <svg viewBox="0 0 1200 801" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <image width="1200" height="801" xlink:href="assets/img/build.png"></image>
            
            <path class="build-1 build" data-build-number="вул.Глушкова 43" data-stages-number="10" data-flats-number="80" data-descriptions="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quo, commodi dolor voluptatum soluta nisi culpa voluptatibus possimus dolorem veniam." d="M754.5 430L710 439.5V603.5L995.5 612V618.5H1011.5V626.5H1036L1052.5 618.5V569.5L1056.5 564.5V551.5H1047.5L1042.5 536.5H1056.5V523.5L1042.5 521V509.5H1062V498L1052.5 493.5V479.5L1030.5 454.5L1006 448.5V422.5L987.5 403L897.5 413V389.5L862.5 362.5L836.5 368.5L822.5 357L754.5 374V430Z"/>
            <path class="build-2 build" data-build-number="вул.Глушкова 44" data-stages-number="15" data-flats-number="30"data-descriptions="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea quo, commodi dolor voluptatum soluta nisi culpa voluptatibus possimus dolorem veniam dolor voluptatum soluta nisi culpa voluptatibus possimus dolorem veniam." d="M700 445.5L601 464V603H704L700 445.5Z"/>
            <path class="build-3 build" data-build-number="вул.Глушкова 45 " data-stages-number="20" data-flats-number="70" data-descriptions="Все квартиры проданы!" d="M308 158L432 223V129L554 205V618.5L305.5 625H249.5V611H231L235.5 232.5L308 158Z"/>
           </svg>
        </div> 
         
            <div class="inset-neomo build-info">
                <h2 class="build-info__title">Информация о доме</h2>
                <h4 class="build-info__number inset-neomo">Адрес <span id="build-value"> Глушкова 43</span></h4>
                <h4 class="build-info__stages inset-neomo">Количество этажей <span id="stages-value">8</span></h4>
                <h4 class="build-info__flat inset-neomo">Количество квартир <span id="flats-value">32</span></h4>
                <div class="build-info__descriptions inset-neomo scroll">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae, fugiat necessitatibus suscipit a, facere ad animi quae, obcaecati cumque consectetur mollitia natus sunt? Et enim libero praesentium, cupiditate, commodi impedit, quae adipisci distinctio animi fugit suscipit molestias. Quisquam, dolores eum provident itaque maxime voluptas sapiente qui magnam ullam in voluptatum officiis aliquam odit a tempora tenetur beatae delectus aspernatur. Nemo debitis molestias nisi explicabo veniam et odit dolor aperiam. Laudantium aliquam quibusdam culpa quisquam velit, sint labore alias accusantiu</div>
            </div>
         </section>   


</main>





